*{
    margin :0rem ;
    padding: 0;
    text-align: center;
    gap : 5rem;
    background-color:blanchedalmond;
}
h1{
    background-color:fuchsia;
    color:aqua;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 175px;
    width: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 85%;
    cursor: pointer;
    background-color: rgb(46, 11, 11);
}
img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin: 2rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap :3rem;
}
#user-score,#computer-score{
    font-size: 4rem;
    gap:2rem;
}
#message{
    background-color:darksalmon;
    color:snow;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;
}
.message-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}